<html>
    <head>
        <title>Ton super Gossip</title>
    </head>

    <body>
    <h1>Voici la page du gossip <%= params['id'] %></h1>
    <p>
    Voici son auteur : <%= gossip.author%> <br/>
    Contenu du potin : <%= gossip.content%> <br/>
    <a href="/">Retourner à la page précédente : </a> <br/>

    </p>
    </body>
</html>